<%= form_for(@post, html: { class: 'form-horizontal' } ) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
  <%= f.label :title,
              class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :title %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :post,
              class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :post %>
  </div>
</div>

 <div class="control-group">
  <%= f.label "Link (Include http://)",
              class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :link %>
  </div>
</div>



<% if false %>
  <div class="control-group">
  	<%= f.label :user_id%>
  	<%= f.collection_select :user_id, User.all, :id, :name %>
 </div>
<%end%> 
  
<div class="form-actions">
  <%= f.submit class: "btn btn-primary" %>
</div>

<% end %>
