<h1>Promoted posts</h1>

<table>
  <tr>
  	<th>Author  </th>
    <th>Title  </th>
    <th>Post   </th>
    <th>Link   </th>
    <th>Likes  </th>
    <th></th>
    <th></th>
  </tr>
  
  <td><%@posts = Post.paginate(:per_page => 5, :page => params[:page] ).order('likes DESC')%></td>
<% if @posts != nil%>
<% @posts.each do |post| %>
<%if post.user.promoted == true%>
  <tr>
  	<td><%= post.user.name%></td>
    <td><%= post.title %></td>
    <td><%= post.post %></td>
    
    <td><%if post.link == "No Link" or post.link == nil%>
    	<% "No Link"%>
    	<%else%>
    	 <a href="<%=post.link%>" target="_blank"><%=  post.link %> </a>
    		<%end%>
    	</td>
    		
    <td><%= post.likes %></td>
  
    <td><%= link_to 'Show', post %></td>
    
  
     <td><% if current_user.admin == true or current_user == post.user%></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>

      <td></td>
    <td><%= link_to 'Destroy',post, method: :destroy,  data: { confirm: 'Are you sure?' } %></td>
     <td><%end%></td>
    <td class= "btn-small"><%= button_to 'Like', post, method: :put %></td>
   
    
  </tr>
<% end %>
<% end %>
</table>
<%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
<% end %>
<br />

<%= link_to 'New Post', "users/sign_up" %>
