<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Fantasy Sports Stop</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <%= link_to "Home", root_path %>
                </li>
                <li>
                  <%= link_to "Users", users_path %>
                </li>
                <li>
                  <%= link_to "Posts", posts_path %>
                </li>
              </ul>
              <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-inverse pull-right' %>
              <% else %>
              <%= form_for(User.new, url: session_path(:user), html: { class: 'navbar-form pull-right' }) do |f| %>
              <%= f.email_field :email, placeholder: "Email" %>
              <%= f.password_field :password, placeholder: "Password" %>
              <%= f.submit 'Sign in', class: 'btn btn-primary' %>
              <% end %>
              <% end %>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>





      <% if alert %>
      <div class="alert alert-error">
        <%= alert %>
      </div>
      <% end %>
      <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
      <% end %>

      <%= yield %>
    </div>
    
    
    
    
        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
